<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <script type="text/javascript" src="./js/lib/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="./js/lib/underscore.js"></script>
  <script type="text/javascript" src="./js/lib/backbone.js"></script>
  <script type="text/javascript">
    jQuery(function($) {
      var App = {};

      // PersonのModel
      App.Person = Backbone.Model.extend({
        defaults: {
          personId: '',
          personName: '',
          age: '',
          gender: ''
        },
        idAttribute: 'personId',
        url: 'http://localhost:8080/rs_person_server/persons'
      });

      // Modelを定義する。
      // Personのコレクション
      App.PersonList = Backbone.Collection.extend({
        model: App.Person, // 先にModelが宣言されている必要あり
        url: 'http://localhost:8080/rs_person_server/persons'
      });

      // ViewModelを定義する。
      App.InputFormView = Backbone.View.extend({
        events: {
          'submit #inputForm': 'submit'
        },
        render: function() {
          var template = $('#inputForm-tmpl').html();
          var compiled = _.template(template);
          var html = compiled(this.model.toJSON());
          this.$el.html(html);
          return this;
        },
        submit: function(event) {
          event.preventDefault(); // これでFORMのSUBMITでリロードが走らなくなる?
          var personId = this.$('#personId').val();
          var createMode = false;
          if (personId == '') {
            createMode = true;
            if (personList.size() == 0) {
              personId = 1;
            } else {
              var maxPerson = personList.max(function(person){
                return person.get('personId');
              });
              personId = maxPerson.get('personId') + 1;
            }
          }

          this.model.set({personId: personId});
          this.model.set({personName: this.$('#personName').val()});
          this.model.set({age: this.$('#age').val()});
          this.model.set({gender: this.$('#gender').val()});

          personList.add(this.model);  // モデルの追加（自動的に、IDが同じだったら更新、IDが違っていれば挿入される！）

          tableFormView.emptyView().render();

          if (createMode) {
            this.model.save(this.model.attributes, {
              type: 'POST',
              wait: false
            });
          } else {
            this.model.save(this.model.attributes, {
              type: 'PUT',
              wait: false
            });
          }

          this.model = new App.Person(); // 次の入力に備えてモデルを新しくする。こうしないと新規ローがインサートされていかない。
          this.render();
        },
        emptyView: function() {
          this.$el.empty();
          return this;
        }
      });

      // モデル用のView
      App.RowView = Backbone.View.extend({
        tagName: 'tr',
        events: {
          'click button[name="edit"]': 'editRow',
          'click button[name="delete"]': 'removeRow'
        },
        render: function() {
          var template = $('#row-tmpl').html();
          var compiled = _.template(template);
          var html = compiled(this.model.toJSON());
          this.$el.append(html);
          return this;
        },
        editRow: function (event) {
          inputFormView.remove();
          inputFormView = new App.InputFormView({
            model: this.model
          });
          $('#inputFormBlock').append(inputFormView.render().$el);
        },
        removeRow: function (event) {
          personList.remove(this.model); // モデルの削除
          tableFormView.emptyView().render();
          this.model.destroy({
              url: 'http://localhost:8080/rs_person_server/persons/remove',
              type: 'POST',
              data: JSON.stringify(this.model.attributes),
              contentType: 'application/json; charset=UTF-8',
              wait: false
          });
        }
      });

      // コレクション用のView
      App.TableFormView = Backbone.View.extend({
        initialize: function(options) {
          this.collection = options.collection;
        },
        render: function() {
          var template = $('#tableForm-tmpl').html();
          this.$el.append(template);
          this.renderRow();
          return this;
        },
        renderRow: function() {
          var self = this;
          this.collection.each(function(person) {
            var rowView = new App.RowView({
              model: person
            });
            self.$('#tbodyContainer').append(rowView.render().$el); // ループ処理の中ではthisの意味が変わってしまう模様
          });
        },
        emptyView: function() {
          this.$el.empty();
          return this;
        }
      });

      // Modelオブジェクトを生成する。
      var personList = new App.PersonList();
      // フェッチしてコレクションの初期データを生成する。
      personList.fetch().then(function() {
        $('#tableFormBlock').append(tableFormView.render().$el);
        $('#inputFormBlock').append(inputFormView.render().$el);
      });

      var tableFormView = new App.TableFormView({
        collection: personList
      });

      var person = new App.Person();
      var inputFormView = new App.InputFormView({
        model: person
      });
    });
  </script>
  <script type="text/template" id="inputForm-tmpl">
    <form id="inputForm">
      <label for="personId">ID</label>
      <input type="text" id="personId" value="<%= personId%>" size="3"
             readonly="true" />
      <label for="personName">名前</label>
      <input type="text" id="personName" value="<%= personName%>" size="10"/>
      <label for="age">年齢</label>
      <input type="text" id="age" value="<%= age%>" size="3"/>
      <label for="gender">性別</label>
      <select id="gender" name="gender">
        <option value=""></option>
        <option value="male" <%= gender === 'male' ? "selected" : "" %>>男性</option>
        <option value="female" <%= gender === 'female' ? "selected" : "" %>>女性</option>
      </select>
      <button id="submitButton">Submit</button>
    </form>
  </script>
  <script type="text/template" id="tableForm-tmpl">
    <form id="tableForm">
      <table id="personTable" border="1">
        <thead>
        <th>ID</th>
        <th>名前</th>
        <th>年齢</th>
        <th>性別</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody id="tbodyContainer">
        </tbody>
      </table>
    </form>
  </script>
  <script type="text/template" id="row-tmpl">
    <td><%= personId %></td>
    <td><%= personName %></td>
    <td><%= age %></td>
    <td><%= gender != '' ? gender == 'male' ? '男性' : '女性': '' %></td>
    <td>
      <button type="button" name="edit">Edit</button>
    </td>
    <td>
      <button type="button" name="delete">Delete</button>
    </td>
  </script>
</head>
<body>
<div id="inputFormBlock"></div>
<hr/>
<div id="tableFormBlock"></div>
</body>
</html>